importFrom("stats",  
  qnorm, model.frame,  model.matrix, model.response, formula, logLik,
  lm, lm.fit, glm, glm.fit, update, deviance, predict, optim,
  plogis, splinefun, rnorm, coef, anova, nlminb)
# importFrom("survreg", coxph.penal, coxph)

importFrom("grDevices", dev.interactive, devAskNewPage)
importFrom("graphics", plot.default, axis, title)
importFrom(methods, show)

S3method(print, smof)
S3method(summary, smof)
S3method(print, summary.smof)
S3method(plot, smof)
S3method(predict, smof)
S3method(coef, smof)
S3method(anova, smof)

export(smof, smof_refit,
  summary.smof, predict.smof,
  print.smof, plot.smof, print.summary.smof, anova.smof
  )
